@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1;
}
.main-index {
  flex-grow: 1;
}
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  display: block;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-list {
  width: 339px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 268px;
  margin-left: auto;
}
.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.main-index-container {
  width: 1200px;
  margin: 0 auto;
}
.hero-block {
  color: #ffffff;
  background-color: #3d739d;
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-block-logo {
  display: block;
  margin: 0 auto;
}
.advantages {
  text-align: center;
}
.advantages-list {
  margin: 0;
  padding: 0;
}
.advantages-group {
  display: flex;
}
.advantages-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.advantages-description {
  font-size: 18px;
  line-height: 21px;
}
.advantages-item-photo {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}
.item-photo-reflected {
  flex-direction: row-reverse;
}
.advantages-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-photo .advantages-title {
  color: #ffffff;
}
.advantages-item-light {
  background-color: rgba(131, 179, 211, 0.2);
}
.activities {
  text-align: center;
}
.activities-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.activities-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.activities-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.activities-description {
  font-size: 18px;
  line-height: 21px;
}
.activities-item {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}
.activities-item-light {
  background-color: #ffffff;
}
.search {
  text-align: center;
}
.search-heading {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.search-button {
  font-size: 20px;
  line-height: 36px;
}
.subscription {
  text-align: center;
  color: #ffffff;
  background-color: #3d739d;
  background-image: url("../images/subscription-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.subscription-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0,0,0,0.6);
}
.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}
.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer-social-list {
  width: 142px;
}
.social-button {
  color: #83b3d3;
  background-color: transparent;
}
.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  width: 331px;
}
.main-inner {
  flex-grow: 1;
}
.main-inner-container {
  width: 1200px;
  margin: 0 auto;
}
.hotel-header-with-filters {
  color: #ffffff;
  background-color: #3d739d;
  background-image: url("../images/filters-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hotel-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}
.hotel-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}
.control {
  font-size: 18px;
  line-height: 23px;
}
.apply-button {
  background-color: #82b3d3;
}
.reset-button {
  background-color: transparent;
}
.sorting-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}
.select-control {
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
}
.view-button {
  color: #000000;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  text-decoration: none;
}
.outline-button {
  border-color: #000000;
}

.hotel-card-link {
  text-decoration: none;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.hotel-card-text {
  font-size: 18px;
  line-height: 21px;
}
.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.hotel-card-favorites {
  background-color: #82b3d3;
}
.added-to-favorites {
  background-color: #7DB54F;
}
.hotel-card-star {
  color: #82b3d3;
}
.hotel-card-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
.pagination-link {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
.pagination-next-page {
  color: #000000;
  background-color: transparent;
}
.catalog-subscription {
  background-color: transparent;
  background-image: none;
}
.catalog-subscription-title {
  color: #000000;
}
.subscription-input {
  background-color: #f2f2f2;
}
.catalog-subscription-text {
  color: #333333;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hotel-filter-form {
  display: flex;
  justify-content: space-between;
}
.hotel-filter-group {
  width: 150px;
  margin-right: 70px;
}
.filter {
  display: flex;
}
.filter-buttons {
  display: flex;
  flex-direction: column;
}
